@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16pt;
  color: #000000;
  background-color: #F8F8FF;
}

.name {
  font-size: 36pt;
  font-weight: 800;
  text-align: left;
}


.title {
  font-size: 20pt;
  font-weight: 700;
  text-align: left;
}

footer {
  font-size: 12pt;
  font-weight: 400;
  gap: 10px;
  display: flex;
  margin-top: 30px;

}

p {
  font-size: 12pt;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  line-height: 1.7;
}

/* Remove all link styling and hover effects to maintain minimalist design */
a {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

span {
  background-color: #00ffff;
}