@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16pt;

}

.name {
  font-size: 36pt;
  text-align: left;
}


.title {
  font-size: 20pt;
  text-align: left;
  margin-bottom: 0.5rem;
}

footer {
  font-size: 12pt;
  gap: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

p {
  font-size: 12pt;
  font-style: italic;
  text-align: left;
  line-height: 1.7;
}

/* Remove all link styling and hover effects to maintain minimalist design */
a {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  color: #0000ff;
  text-decoration: underline;
}

span {
  background-color: #00ffff;
}